<footer>
  <div class="bottom">
    <!-- This is an SEO Change--Added alt to img tag to show the information of what the icon is about-->
    <img class="bottom-icon" src="assets/github.png" alt="Github Profile" />
    <img class="bottom-icon" src="assets/insta.png" alt="Instagram Profile" />
    <img class="bottom-icon" src="assets/linkedin.png" alt="LinkedIn Profile" />
    <div class="center">All rights reserved &copy; Fabio Nolasco</div>
    <!-- This is an SEO Change--Used anchor tag-->
    <a id="contact-me" class="contact" href="/contact.html">Contact Info</a>
  </div>
</footer>
